<h1>LOGIN</h1>

{{#if error}}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{{/if}}

<form action="/api/login" method="post">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" value="{{email}}" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password"
      value="{{password}}">
  </div>
  <div class="form-group">
    <a href="/auth/github">Login with GitHub</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>